@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
  font-family: "Outfit", sans-serif;
  background: black;
  
}
::-webkit-scrollbar{
    display: none;
}
#laser-flow{
    transform: scale(1.5);
    z-index: 0;
    translate: -10px 100px;
    overflow-y: hidden;
    border-color:white;
}

#tt{
    translate: -24px ;
    
}
#tilted-card{
    transform: scale(1.5);
    translate: 200px -153px;
    z-index: 20;
    width:fit-content;
    padding: 20px;
    border-radius: 10px;
    padding-right: 20px;
    border-top:white 2px solid;
    border:var(--border-color) 2px solid;
    height:fit-content;
    margin-bottom:50px;
    
}

.tilted-card-demo{
    border:var(--border-color) 2px solid;
}

:root{
    --border-color: #c45d98;
    --bg-color: #4d243c;
}